mixin solution()
    .solution
        
        .solution__content
            .solution__number 01.
            .solution__text  Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.
        .solution__image
            img(data-src="/assets/img/portfolio/pf_3.jpg").lazy
    
    .solution
        
        .solution__content
            .solution__number 02.
            .solution__text  Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.
    
        .solution__image
            img(data-src="/assets/img/portfolio/pf_4.jpg").lazy

    .solution
        
        .solution__content
            .solution__number 03.
            .solution__text  Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.

        .solution__image
            img(data-src="/assets/img/portfolio/pf_5.jpg").lazy