mixin call()
    .call
        .call__text Узнайте полные условия работы с нашей компанией, позвонив нам на рабочий телефон. Мы с удовольствием расскажем и покажем как будет работать наш план, также расскажем все нюансы
        a(href="tel:+74957263543").call__phone + 7 (495) 726-35-43