mixin award(rate,sape,other,group)
    if rate
        a(href="/assets/img/awards/rate.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/rate.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/rate.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/rate.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/rate.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/rate.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/rate.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/rate.jpg", alt="").award__image.lazy

    else if sape
        a(href="/assets/img/awards/sape.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/sape.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/sape.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/sape.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/sape.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/sape.jpg", alt="").award__image.lazy
        a(href="/assets/img/awards/sape.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/sape.jpg", alt="").award__image.lazy
    else if other
        a(href="/assets/img/awards/other.jpg" data-fancybox= group).award
            img(data-src="/assets/img/awards/other.jpg", alt="").award__image.lazy