mixin landing_banner()
    .landing-banner
        .landing-banner__image
            img.lazy(data-src="/assets/img/landing/banner.svg" alt='')
        .landing-banner__content
            .landing-banner__title Разработаем план продвижения с учетом специфики вашей компании и бюджета
            .landing-banner__text
                p Например, для интернет-магазинов необходимо делать упор на seо-продвижение и повышение конверсии сайта. Для дорогих услуг и товаров - на комплекс из контекстной рекламы, landing page, seo, усиления сайта. А для товаров с маржинальностью ниже 1000руб - не стоит использовать контекстную рекламу
            +button('Заказать план продвижения','button_red button_high button_wide')