mixin client(logo,title,name,cl)
    .client(class= cl)
        .client__image
            img.lazy.client__logo(data-src= logo)
        .client__title= title
        .client__profile
            .client__name= name
            .client__job Крупнейшая компания в мире