mixin top()
    .top
        <svg width="17" height="11" viewBox="0 0 17 11" fill="none">
            <path d="M8.5 0C8.17773 0 7.88475 0.129367 7.65037 0.388093L0.326015 8.79669C-0.113446 9.31414 -0.113453 10.1227 0.355305 10.6401C0.824064 11.1252 1.55652 11.1252 2.02528 10.6078L8.5 3.16939L14.9748 10.6078C15.4142 11.1252 16.1759 11.1252 16.6447 10.6401C17.1135 10.155 17.1134 9.31414 16.6739 8.79669L9.34963 0.388093C9.11525 0.129367 8.82227 0 8.5 0Z" fill="white"/>
        </svg>