mixin tabs()
    .tabs
        a(href="#step_1").tabs__item.tabs__item_active
            .tabs__number 1
            .tabs__text Заявка
        a(href="#step_2").tabs__item
            .tabs__number 2
            .tabs__text Опрос
        a(href="#step_3").tabs__item
            .tabs__number 3
            .tabs__text Коммерческое предложение
        a(href="#step_4").tabs__item
            .tabs__number 4
            .tabs__text Старт
        a(href="#step_5").tabs__item
            .tabs__number 5
            .tabs__text Результат