.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 44px 0 0;
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 130%;
        color: @wt;
        margin-bottom: 30px;
    }

    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 180%;
        color: @wt_07;
    }

    &__box {}

    &__item {}

    &__icon {}

    &__caption {}
}