mixin stars(blog,cl)
    .stars(class= cl)
        if blog
            .stars__item.stars__item_active
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item.stars__item_active
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item.stars__item_active
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item.stars__item_active
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
        else
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")
            .stars__item
                svg.stars__icon(class= cl)
                    use(xlink:href="/assets/img/sprite_star.svg#star")