mixin table()
   

    .table
        table
            tbody
                tr
                    th Наименование услуги
                    th Описание услуги
                    th Сроки
                    th Стоимость (руб.)
                tr
                    td Лидогенерация для вашего бизнеса 
                    td Увеличение количества лидов
                    td от 14 дней
                    td от 20 000
                tr
                    td Лидогенерация для вашего бизнеса
                    td Увеличение количества лидов
                    td от 20 дней
                    td от 30 000
                tr
                    td Лидогенерация для вашего бизнеса
                    td Увеличение количества лидов
                    td от 30 дней
                    td от 40 000
                tr
                    td Лидогенерация для вашего бизнеса
                    td Увеличение количества лидов
                    td от 45 дней
                    td от 50 000
                tr
                    td Лидогенерация для вашего бизнеса
                    td Увеличение количества лидов
                    td от 60 дней
                    td от 100 000