mixin pagination()
    .pagination
        .pagination__arrow.pagination__arrow_left
            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.607235 6.69583C0.607235 6.93479 0.694119 7.15203 0.867909 7.32582L6.51609 12.7568C6.68988 12.9088 6.90712 12.9957 7.12436 12.9957C7.36332 12.9957 7.58057 12.9088 7.75436 12.735C8.08021 12.3875 8.08022 11.8444 7.73264 11.4968L2.73617 6.69583L7.73264 1.89488C8.08022 1.56902 8.08021 1.00421 7.75436 0.656627C7.4285 0.309047 6.86367 0.309045 6.51609 0.634902L0.867909 6.06584C0.694119 6.23963 0.607235 6.45687 0.607235 6.69583Z" fill="#ACB3C5"/>
            </svg>

        .pagination__number.pagination__number_active 1
        .pagination__number 2
        .pagination__number 3
        .pagination__number 4
        .pagination__number 5
        .pagination__arrow.pagination__arrow_right
            <svg width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.99629 6.69583C7.99629 6.93479 7.9094 7.15202 7.73561 7.32581L2.08744 12.7568C1.91365 12.9088 1.6964 12.9957 1.47916 12.9957C1.2402 12.9957 1.02296 12.9088 0.849167 12.735C0.523311 12.3874 0.523305 11.8444 0.870885 11.4968L5.86735 6.69583L0.870885 1.89488C0.523305 1.56902 0.523311 1.00421 0.849167 0.656625C1.17502 0.309045 1.73986 0.309043 2.08744 0.6349L7.73561 6.06584C7.9094 6.23963 7.99629 6.45687 7.99629 6.69583Z" fill="#ACB3C5"/>
            </svg>