mixin slider_result()
    .slider
        .slider__box.slider__box_result
            .slider__item
                img.lazy(data-lazy="/assets/img/landing/result.png", alt="")
            .slider__item
                img.lazy(data-lazy="/assets/img/landing/result.png", alt="")
            .slider__item
                img.lazy(data-lazy="/assets/img/landing/result.png", alt="")
           
            
        .slider__options.slider__options_result
            .slider__arrows.slider__arrows_result