mixin slider_sert()
    .slider
        .slider__box.slider__box_sertificate
            +sertificate()
            +sertificate()
            +sertificate()
            +sertificate()
            +sertificate()
            +sertificate()
            +sertificate()
            +sertificate()
            
        .slider__options
            .slider__arrows.slider__arrows_sertificate
            .slider__dots.slider__dots_sertificate
