mixin slider_0(main,single_1,single_2,single_3,land)
    .slider.slider_main
        if main
            +slide('SEO - гарантированный рост трафика из поисковых систем в результате внедрения стратегии под нишу')
            +slide('Трафик для вашего сайта','','box')
            +slide('Горячие лиды в ваш бизнес. От 200 руб./шт.','Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.')
            +slide('Продвижение сайтов по Москве и Московской области','Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.')
        else if single_1
            +slide('Трафик для вашего сайта','','box')
        else if single_2
            +slide('Горячие лиды в ваш бизнес. От 200 руб./шт.','Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.')
        else if single_3
            +slide('Продвижение сайтов по Москве и Московской области','Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ.')

        else if land
            +slide('Продвижение сайтов<br><span>по Краснодару и краснодарскому краю</span>','','','list')