mixin slider_reviews()
    .slider.slider_reviews
        .slider__box.slider__box_reviews
            +review('','text','review_text')
            +review('video','','review_video')
            +review('','text','review_text')
            +review('video','','review_video')
           
            
        .slider__options.slider__options_reviews
            .slider__arrows.slider__arrows_reviews
            .slider__dots.slider__dots_reviews
