mixin slider_case()
    .slider
        .slider__box.slider__box_case
            +case('www.asvgroup.ru')
            +case('www.yandex.ru')
            +case('www.mail.ru')
           
            
        .slider__options.slider__options_case
            .slider__arrows.slider__arrows_case
            .slider__dots.slider__dots_case
        .slider__buttons.slider__buttons_case
            +button('Больше кейсов в нашем блоге','button_blue','','/')
