.slider {

    position: relative;

    &_main {
        width: calc(100% - 400px);

        @media @768 {
            width: calc(100% - 340px);
        }

        @media @320 {
            width: 100%;
            margin-bottom: 10px !important;
        }

        .slick-track {
            display: flex;
            align-items: center;
        }
    }




    &__box {

        &_sertificate {

            padding: 0 20px;

            @media @320 {
                padding: 0;
                margin-bottom: 0 !important;
            }

        }

        &_case {
            margin-bottom: 0 !important;
        }

        &_result {

            .slick-track {
                display: flex;
                align-items: center;
            }
        }

    }

    &__options {
        display: flex;
        justify-content: center;
        width: 100%;

        &_case {
            position: relative;
            top: -120px;
        }

        &_result {
            position: absolute;
            left: 0;
            width: 100%;

            top: 50%;
            height: 0;

            @media @320{
                position: unset;
                height: 40px;
                margin-top: 10px;
            }
        }

        .slick-dots {
            position: unset;
            width: unset;
            display: flex;
            align-items: center;
            padding: 0 30px;

            li {
                margin: 0 2px;
            }

            button {
                &:before {
                    .rem(10);
                    color: @grey;
                    opacity: 0.3;
                    line-height: 23px;

                }

                &:hover {
                    &:before {
                        color: @red;
                        opacity: 1;
                    }

                }
            }

            .slick-active {
                button {
                    &:before {
                        .rem(10);
                        color: @red;
                        opacity: 1;

                    }

                    &:hover {
                        &:before {
                            color: @red;
                            opacity: 1;
                        }

                    }
                }
            }
        }
    }

    &__arrows {
        width: unset;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        &_result {
            width: 100%;
            display: flex;
            justify-content: space-between;
            max-width: 1160px;

            @media @320{
               max-width: 90px;
            }

            .slider__arrow {
                margin: 0 40px;
                height: 44px;
                width: 44px;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: @button_3;
                transition: all 0.2s;

                @media @320{
                    height: 40px;
                    width: 40px;
                    margin: 0;

                }
                svg {
                    width: 7px;
                    height: 12px;

                    @media @320{
                        width: 6px;
                        height: 10px;
                    }
                    path {
                        fill: @red;
                    }
                }

                &:hover,
                &:focus {
                    svg {
                        path {
                            fill: @wt;
                        }
                    }
                    background-color: @red;
                    transition: all 0.2s;
                }

                &:active {
                    svg {
                        path {
                            fill: @wt;
                        }
                    }
                    background-color: @button_3_pressed;
                    transition: all 0.2s;
                }
            }
        }
    }


    &__arrow {



        svg {
            path {
                fill: @grey;

                transition: 0.2s;
            }
        }

        cursor: pointer;

        &:hover {
            svg {
                path {
                    fill-opacity: 1;
                    fill: @red;
                    transition: 0.2s;
                }
            }
        }

        &_prev {
            &_main {
                margin-left: -20px;

                svg {
                    path {
                        fill: @wt_05;
                    }
                }

                @media @1024 {
                    margin-left: 5px;
                }

                @media @768 {
                    margin-left: 5px;
                }

                @media @320 {
                    margin-left: 50px;
                }

                &:hover {
                    svg {
                        path {
                            fill: @wt;
                        }
                    }
                }
            }

        }

        &_next {
            &_main {
                svg {
                    path {
                        fill: @wt_05;
                    }
                }

                margin-right: -20px;

                @media @1024 {
                    margin-right: 5px;
                }

                @media @768 {
                    margin-right: 5px;
                }

                @media @320 {
                    margin-right: 50px;
                }

                &:hover {
                    svg {
                        path {
                            fill: @wt;
                        }
                    }
                }
            }
        }


    }

    &__buttons {
        width: 100%;
        max-width: 1160px;
        margin: 0 auto;

        &_case {
            display: flex;
            justify-content: center;
            position: relative;
            top: -50px;
        }
    }

    &__item {
        display: flex !important;
        justify-content: center;
    }
}