mixin navfooter(srv1,srv2,srv3,srv4,srv5)
    .nav-footer
        if srv1
            .nav-footer__name Услуги
           
            a(href="/").nav-footer__item Внутренняя оптимизация сайтов

            a(href="/").nav-footer__item SEO аудит сайта

            a(href="/").nav-footer__item Ведение аккаунтов и групп в соцсетях

            a(href="/").nav-footer__item Продвижение коммерческими факторами

            a(href="/").nav-footer__item Продвижение поведенческими факторами

            a(href="/").nav-footer__item Продвижение сайтов и магазинов любой тематики

            a(href="/").nav-footer__item Продвижение сайтов на любых CMS

            a(href="/").nav-footer__item Продвижение сайтов в регионах России


        else if srv2 
            .nav-footer__name Другие услуги

            a(href="/").nav-footer__item Разработка сайтов под ключ

            a(href="/").nav-footer__item Техническая поддержка сайтов


        else if srv3 
            .nav-footer__name Полезная информация

            a(href="/").nav-footer__item Продвижение НЧ

            a(href="/").nav-footer__item Что такое семантическое ядро?

            a(href="/").nav-footer__item Как подбирать ключевые слова

            a(href="/").nav-footer__item Как добавить сайт в поисковые системы

            a(href="/").nav-footer__item SERM – управление репутацией

            a(href="/").nav-footer__item Кейс: продвижение событийного запроса

            a(href="/").nav-footer__item Что такое крауд маркетинг

            a(href="/").nav-footer__item SEO wiki


        else if srv4
            .nav-footer__name Клиентам

            a(href="/").nav-footer__item Акции и скидки

            a(href="/").nav-footer__item Контроль качества

            a(href="/").nav-footer__item Отзывы клиентов о продвижении сайтов

            a(href="/").nav-footer__item Портфолио


        else if srv5
            .nav-footer__name Компания

            a(href="/").nav-footer__item Контакты

            a(href="/").nav-footer__item Коллектив

            a(href="/").nav-footer__item Сотрудничество

            a(href="/").nav-footer__item Пресса о нас