mixin case(link)
    .case__wrapper
        .case
            .case__content
                .case__title Строительные материалы
                .case__text
                    p Был создан новый сайт, не имевший истории в поиске, и начаты работы над сайтом по стратегии низкочастотного продвижения. С минимальными вложениями клиент начал получать лиды уже через полтора месяца после старта работ по SEO. Одновременно проводится размещение контекстной рекламы в Google.Adwords и Яндекс.Директ.

                .case__result
                    .case__item.case__item_traffic Увеличение трафика <span>в 6 раз</span>
                    .case__item.case__item_sales Увеличение продаж <span>в 7,5 раз</span>
                    .case__caption Окупаемость вложений в продвижение на 4-й месяц продвижения.
                .case__link
                +button(link,'button_trans button_icon','','','','https://www.asvgroup.ru')
            .case__image
                img.lazy(data-lazy="/assets/img/case/case_1.png", alt="")