mixin pf-list()
    .pf-list
        .pf-list__item
            .pf-list__option Адрес сайта
            .pf-list__value http://comsy.ru/
        .pf-list__item
            .pf-list__option Наименование компании
            .pf-list__value ООО «Компания Комси»
        .pf-list__item.pf-list__item_active
            .pf-list__option Услуга
            .pf-list__value Разработка сайта
        .pf-list__item
            .pf-list__option Тип сайта
            .pf-list__value Интернет-магазин
        .pf-list__item
            .pf-list__option Сфера деятельности
            .pf-list__value Высококачественная трубопроводная арматура для теплоснабжения и водоснабжения
        .pf-list__item
            .pf-list__option Регион
            .pf-list__value Москва
        .pf-list__item
            .pf-list__option Система управления
            .pf-list__value OpenCart