.feedback {

    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: @section_blue;
    padding: 60px 100px;
    border-radius: 10px;
    box-shadow: @box_form;

    &__title {
        .rem(32);
        font-weight: normal;
        line-height: 130%;
        color: @bk;
        text-align: center;
        margin-bottom: 20px;
    }

    &__subtitle {
        .rem(18);
        color: @bk_light;
        line-height: 130%;
        text-align: center;
        opacity: 0.8;
        font-weight: normal;
        margin-bottom: 55px;
    }

    &__heading {
        .rem(20);
        font-weight: 500;
        line-height: 130%;
        color: @bk;
        text-align: center;
        margin-bottom: 35px;
    }

    &__checks {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
        padding: 0 0 40px 0;

        .feedback__label {
            width: calc(33% - 15px);
            margin-bottom: 20px;
        }
    }

    &__inputs {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    &__box {
        width: calc(50% - 20px);
    }

    &__input {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        background-color: @wt;
        border: 1px solid @wt;
        color: @bk;
        padding: 0 15px;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        .rem(14);
        line-height: 17px;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: all 0.2s;
        -webkit-text-size-adjust: 100%;
        margin-top: 7px;

        @media @320 {
            .rem(16);
        }

        &::placeholder {
            color: @placeholder;
            opacity: 0.5;
            font-weight: normal;
            font-style: normal;
        }


        &:nth-last-of-type(1) {
            margin-bottom: 10px;
        }

    }

    &__textarea {}

    &__label {
        color: @bk;
        font-style: normal;
        font-weight: 500;
        .rem(14);
        line-height: 17px;
        width: 100%;


        &_consent {
            display: block !important;
            font-style: normal;
            font-weight: normal;
            .rem(12);
            color: @bk_light;
            line-height: 15px;
            margin-bottom: 17px;
        }
    }

    &__checkbox:checked {
        display: none;
    }

    &__checkbox {
        display: none;
    }

    &_center {
        display: flex;
        justify-content: center;
    }

    &__checkbox:checked+label {

        background-image: url('/assets/img/checked.png');
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 24px;
        padding-left: 34px;
        min-height: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    &__checkbox+label {

        background-image: url('/assets/img/checkbox.png');
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: 24px;
        padding-left: 34px;
        min-height: 24px;
        display: flex;
        align-items: center;
        cursor: pointer;

    }

    &__file {
        overflow: hidden;
        position: absolute;
        clip: rect(0 0 0 0);
        opacity: 0;
    }
    

}