// font color 
@wt: #ffffff;
@bk: #373737;

@bl: #054090;
@footer: #052B60;

@nav: linear-gradient(89.96deg, #213CC4 0%, #09AEEB 100.9%);

@section_blue: linear-gradient(180deg, #FAFCFF 0%, #E4ECFA 100%);