mixin breadcrumbs()
    .breadcrumbs
        .breadcrumbs__inner
            a(href="/").breadcrumbs__link Главная
            a(href="/").breadcrumbs__link Блог
            .breadcrumbs__item Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки