extends ../layout/main




block variables
    -var title = 'index'
    -var description = 'index'
    -var pageClass = ''

block content
    section.section.section_slider.lazy(data-src="/assets/img/banners/banner.png")
            .section__inner.section__inner_slider
                +slider_0('main')
                +order('order')
                .section__arrows
                .section__dots