extends ../layout/main




block variables
    -var title = 'reviews'
    -var description = 'reviews'
    -var pageClass = ''

block content
    section.section
        +breadcrumbs('','Отзывы')
        .section__inner
            +title('Отзывы','','h1','')
            +filter('','type2')
            .section__box.section__box_reviews
                +review('','text','review_text')
                +review('video','','review_video')
                +review('video','','review_video')
                +review('','text','review_text')
                +review('','text','review_text')
                +review('video','','review_video')
                
                +pagination()