extends ../layout/main




block variables
    -var title = 'contacts'
    -var description = 'contacts'
    -var pageClass = ''

block content
    section.section
        +breadcrumbs('','Контакты')
        .section__inner
            +title('Контакты','','h1','')