extends ../layout/main




block variables
    -var title = 'assets'
    -var description = 'assets'
    -var pageClass = ''

block content
    .section
        .section__inner
            .section__box.section__box_assets
                .section__assets
                    +button('Заказать звонок','button_blue')
                    +button('Выбрать тариф','button_red')
                    +button('Подробнее','button_trans')
                    +button('Выберите файл','button_smoke')
                .section__assets.section__assets_blue
                    +button('Заказать звонок','button_blue')
                    +button('Выбрать тариф','button_red')
                    +button('Подробнее','button_trans')
                    +button('Выберите файл','button_smoke')
                    +button('Белая кнопка','button_white')
                .section__assets.section__assets_blue
                    a(href="/").section__assets_link.section__assets_link_white Ссылка на темном фоне
                    a(href="/").section__assets_link.section__assets_link_black Темно-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_blue Синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_grey Светло-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_underline Ссылка с подчеркиванием
                    a(href="/").section__assets_link.section__assets_link_darkblue Темно-синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_red Оранжевая ссылка
                .section__assets.section__assets_links
                    a(href="/").section__assets_link.section__assets_link_black Темно-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_blue Синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_grey Светло-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_underline Ссылка с подчеркиванием
                    a(href="/").section__assets_link.section__assets_link_darkblue Темно-синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_red Оранжевая ссылка
                
                
                .section__text
                
                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                   
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consectetur maxime vel adipisci ipsa. Odit qui esse tempora odio laboriosam beatae, cum aliquid assumenda molestias inventore totam quia dolorum impedit atque est minima? Officia nisi reiciendis quas nulla sint non est vero impedit architecto molestiae quibusdam, numquam perspiciatis dolores rem repellendus ullam quos laudantium aperiam, mollitia, saepe sunt tenetur provident doloribus. Rerum, architecto, odit perferendis corrupti velit accusamus sit maxime esse facere sint nemo aperiam neque iste maiores officiis odio voluptatem est laudantium doloremque porro libero, aliquam omnis molestias ipsa. Provident commodi porro hic saepe aliquam tempora aspernatur laudantium explicabo?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum ipsam laboriosam suscipit beatae quidem, voluptatum culpa pariatur totam impedit sint eum, delectus officia voluptatibus voluptas recusandae qui expedita obcaecati nulla assumenda quia commodi non enim. Culpa quo labore voluptates inventore. Sequi aperiam reiciendis, dolorem reprehenderit doloremque itaque incidunt, quibusdam libero quas veniam iusto dolor ut? Iusto provident quam animi, ut deleniti quasi obcaecati nesciunt officiis sunt optio placeat libero fugit, consequuntur ipsam delectus. Tempora temporibus autem sequi? Explicabo, a!
                .section__assets
                    .section__text
                        p
                            strong Маркированный список
                        ul
                            li <strong>Пункт</strong> маркированного списка
                            li <b>Пункт</b> маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident itaque facere nemo enim. Possimus incidunt voluptate eum ducimus corporis voluptatum fugit, repellat numquam laborum nulla quo. Temporibus, non tenetur!
                            li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident itaque facere nemo enim. Possimus incidunt voluptate eum ducimus corporis voluptatum fugit, repellat numquam laborum nulla quo. Temporibus, non tenetur!
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                .section__assets
                    .section__text
                        p
                            strong Нумерованный список
                        ol
                            li <strong>Lorem ipsum dolor sit</strong> amet consectetur adipisicing elit. Magni porro nihil veniam quibusdam explicabo! Iste, aliquid beatae porro consectetur fugiat amet ut aut adipisci, labore sapiente consequatur ab sint officiis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni porro nihil veniam quibusdam explicabo! Iste, aliquid beatae porro consectetur fugiat amet ut aut adipisci, labore sapiente consequatur ab sint officiis.
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                
                .section__text
                    blockquote 
                        p Cледите за длинной текста в сообщениях и делайте паузы между ответами чат-бота, чтобы клиент успевал читать полученную информацию.
                    
                +service('s_1','service__icon_service','solutions/service')
                +service('s_2','service__icon_service','solutions/service')
                +service('s_3','service__icon_service','solutions/service')
                +service('s_4','service__icon_service','solutions/service')
                +service('s_5','service__icon_service','solutions/service')
                +service('law_1','service__icon_law','solutions/law')
                +service('law_2','service__icon_law','solutions/law')
                +service('service_1','service__icon_srv','services','Поисковое продвижение (SEO)')
                +service('service_2','service__icon_srv','services','Контекстная реклама')