//- extends ../layout/main




//- block variables
//-     -var title = 'blod item'
//-     -var description = 'blod item'
//-     -var pageClass = ''

//- block content



    

//-     section.section
//-         +breadcrumbs()
//-         .section__inner
            
//-             .section__box.section__box_sidebar
//-                 .section
//-                     +title('Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки','','h1','')
//-                     +blog-options()
//-                     .section__text

//-                         img(src="/assets/img/blog/image.jpg", alt="")

//-                         p <strong>Чат-бот</strong> — это инструмент, который имитирует диалог с пользователем. Бот может общаться как с помощью текстовых, так и с помощью голосовых сообщений на сайтах, в мессенджерах и мобильных приложениях.

//-                         p Виртуальные помощники помогают разгрузить службу поддержки и позволяют одновременно взаимодействовать с большим количеством пользователей независимо от времени суток. Автоматизация коммуникации с аудиторией сокращает воронку продаж, улучшает путь покупателя, увеличивает конверсии и повышает доход.

//-                         h2 Вот лишь несколько факторов благодаря которым популярность чат-ботов ежедневно растет:

//-                         ul
//-                             li <strong>Мобильный трафик перегнал десктопный.</strong> Пользователи практически не расстаются со своими мобильными устройствами и регулярно проверяют входящие сообщения. Поэтому, открываемость рассылок в мессенджерах достигает 90-100%.
//-                             li <strong>Аудитория мессенджеров и социальных сетей регулярно растет.</strong> Например, количество активных пользователей Facebook Messenger уже достигло 1,3 миллиарда человек в месяц.
//-                             li <strong>Для создания и внедрения чат-ботов сейчас не нужна команда разработчиков.</strong> Вы можете самостоятельно сделать профессионального бота используя блочные конструкторы.
//-                             li <strong>Чат-бот работает 24/7.</strong> Ему не нужно платить заработную плату, он не устает и у него всегда хорошее настроение.
                     


//-                         h3 Принципы создания чат-ботов

//-                         p Для того, чтобы разработать эффективного чат-бота, сначала необходимо ответить на три главных вопроса:


//-                         ol

//-                             li <strong>Проанализируйте целевую аудиторию.</strong> Выявите интересы и боли потенциальных покупателей, выделите часто задаваемые вопросы. Найдите те мессенджеры, которые будут релевантны вашей целевой аудитории.
//-                             li <strong>Установите цели и задачи бота.</strong> Подумайте, какие рутинные задачи службы поддержки вы могли бы делегировать чат-боту. На этом этапе тщательно проанализируйте список часто задаваемых вопросов.
//-                             li <strong>Напишите сценарий под каждую задачу.</strong> Создайте цепочку сообщений, которая пошагово проведет клиента из пункта А в пункт В. Чтобы не упустить важных деталей и ускорить процесс создания виртуального помощника, продумайте его структуру заранее. Для этого используйте программу вроде Xmind или простой лист А4.

//-                         h3 Особенности написания сценария чат-бота

//-                         p Первое сообщение в сценарии любого бота — это приветствие. Обратите внимание, пользователь должен понимать, что общается с программой, а не с живым человеком, поэтому обязательно представьте своего виртуального помощника. Посмотрите, как коротко и просто это делает магазин Vchehol.ru.

//-                         blockquote 
//-                             p Cледите за длиной текста в сообщениях и делайте паузы между ответами чат-бота, чтобы клиент успевал читать полученную информацию.

//-                         p Чат-боты бывают информационные, продающие и развлекательные. Есть даже персональные ассистенты, которые помогают организовывать и контролировать работу. Чат-ботов успешно используют кафе, рестораны, туристические агентства, интернет-магазины, спортзалы, банки, частные клиники и другие компании.p 

//-                         p Посмотрите, какими интересными и полезными могут быть виртуальные помощники. Ниже вы видите чат-бота RestoNews в Facebook Messenger. Он предоставляет меню, рассказывает о дегустациях, показывает цены и помогает забронировать столик.
                    
//-                     +creator()

//-                     +title('Читайте также','','','h2')
//-                     .section__box.section__box_news
//-                         +news('news_also','/assets/img/blog/news_also_1.jpg','Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки','','','')
//-                         +news('news_also','/assets/img/blog/news_also_2.jpg','Быстрее и эффективнее: Яндекс выпустил большое поисковое обновление «Вега»','','','')
//-                         +news('news_also','/assets/img/blog/news_also_3.jpg','Компания «Паньшин Групп» вошла в ТОП самых известных SEO-компаний по версии SEONEWS','','','')
                
//-                     +subscribe('subscribe_blue')
//-                     +comment-form()
                
                
                
//-                 .section__sidebar.section__sidebar_blog
//-                     +subscribe()
//-                     +navside('','blog')
//-                     +banner()
                    
//-                     +order('form_sidebar','','','order_blue','','sidebar')
//-                     +social('sidebar')
//-         .section__social
//-             +social()