extends ../layout/main




block variables
    -var title = 'progress'
    -var description = 'progress'
    -var pageClass = ''

block content
    section.section
        +breadcrumbs('О компании','Достижения')
        .section__inner
            
            .section__box.section__box_sidebar
                .section__text
                    +title('Наши достижения','','h1','')
                    p Команда агентства не ставит перед собой целью занимать высокие во всех возможных рейтингах, мы просто делаем свою работу.
                    p Места в рейтингах нас интересуют только в динамике. И видно как агентство растет. Спасибо нашим клиентам за доверие!
                    
                    +title('Рейтинг Рунета - 2016','title_border','','h2')
                    .section__box.section__box_awards
                        +award('rate','','','2016')
                    +title('Рейтинг Рунета - 2015','title_border','','h2')
                    .section__box.section__box_awards
                        +award('rate','','','2015')
                    +title('Рейтинг Рунета - 2016','title_border','','h2')
                    .section__box.section__box_awards
                        +award('rate','','','2014')
                    +title('Sape','title_border','','h2')
                    .section__box.section__box_awards
                        +award('','sape','','sape')
                    +title('Другие','title_border','','h2')
                    .section__box.section__box_awards
                        +award('','','other','other')
                        
                .section__sidebar.section__sidebar_blog
                   
                    +banner()
                    
                    +order('form_sidebar','','','order_blue','','sidebar')
                    +social('sidebar')  
                    
        section.section.section_deepblue.section_feedback.lazy(data-src="/assets/img/feedback.png")
            .section__inner.section__inner_feedback
                +feedback('feedback')