extends ../layout/main




block variables
    -var title = 'portfolio'
    -var description = 'portfolio'
    -var pageClass = ''

block content
    section.section
        +breadcrumbs('','Портфолио')
        .section__inner
            +title('Портфолио и кейсы','','h1','')
            +filter('type1','')
            .section__box.section__box_sample
                +sample()
                +sample()
                +sample()
                +pagination()