//- extends ../layout/main




//- block variables
//-     -var title = 'seo moscow'
//-     -var description = 'seo moscow'
//-     -var pageClass = ''

//- block content
//-     section.section.section_slider.lazy(data-src="/assets/img/banners/banner.png")
//-         .section__inner.section__inner_slider
//-             +slider_0('','','lead')
//-             +order('order','','','','Продвинуть сайт')
//-             .section__arrows
//-             .section__dots
    
//-     section.section.section_blue_invert
//-         +breadcrumbs()
//-         .section__inner
//-             .section__box.section__box_mo
//-                 img.lazy(data-src="/assets/img/map_mo.png", alt="")

//-             .section__box.section__box_city.section__box_city_mo
//-                 ul
//-                     li Апрелевка
//-                     li Балашиха 
//-                     li Бронницы
//-                     li Верея
//-                     li Видное
//-                     li Волоколамск
//-                     li Воскресенск
//-                     li Высоковск
//-                     li Голицыно
//-                     li Дзержинский
//-                     li Дмитров
//-                     li Долгопрудный
//-                     li Домодедово
//-                     li Дрезна
//-                     li Дубна
//-                     li Егорьевск
//-                     li Жуковский
//-                     li Зарайск
//-                     li Звенигород
//-                     li Ивантеевка
//-                     li Истра
//-                     li >Кашира 
//-                     li Климовск
//-                     li Клин
//-                     li Коломна
//-                     li Королев
//-                     li Котельники
//-                     li Красмоармейск
//-                     li Красногорск
//-                     li Краснозаводск
//-                     li Краснознаменск
//-                     li Кубинка
//-                     li Куровское
//-                     li Ликино-Дулево
//-                     li Лобня
//-                     li Лосино-Петровский
//-                     li Луховицы
//-                     li Лыткарино
//-                     li Люберцы
//-                     li Можайск
//-                     li Мытищи
//-                     li Наро-Фоминск
//-                     li Ногинск
//-                     li Одинцово
//-                     li Озеры
//-                     li Орехово-Зуево
//-                     li Павловский Посад
//-                     li Пересвет
//-                     li Подольск
//-                     li Протвино
//-                     li Пушкино
//-                     li Пущино
//-                     li Раменское
//-                     li Реутов
//-                     li Рошаль
//-                     li Руза
//-                     li Сергиев Посад
//-                     li Серпухов
//-                     li Солнечногорск
//-                     li Старая Купавна
//-                     li Ступино
//-                     li Талдом
//-                     li Фрязино
//-                     li Химки
//-                     li Хотьково
//-                     li Черноголовка 
//-                     li Чехов
//-                     li Шатура
//-                     li Щелково
//-                     li Электрогорск
//-                     li Электросталь
//-                     li Электроугли
//-                     li Юбилейный
//-                     li Яхрома
//-     section.section
//-         .section__inner
//-             +title('Раскрутка и продвижение сайтов по Москве и Московской области','','h1','')
//-             .section__text
//-                 p Основная сфера деятельности «Паньшин Групп» — продвижение сайтов в Москве и Московской области. Любой компании важно иметь представительство в сети для повышения доверия пользователей и получения дополнительной прибыли. Заниматься комплексным продвижением сайтов самостоятельно сложно, так как неизбежны ошибки, которые обойдутся дорого. Выгоднее не тратить время понапрасну, а обратиться за помощью к сотрудникам нашего агентства интернет-маркетинга. Не сомневайтесь, профессиональное продвижение компании даст отличный результат.
//-                 h2 Что предлагаем?
//-                 p SEO-продвижение сайта — комплекс задач для работников нескольких специальностей. Работа направлена на завоевание первых строчек поисковой выдачи. Через поисковики ресурсы получают максимальное количество трафика, поэтому необходимо обеспечить соответствие требованиям Yandex и Google. Мы занимаемся созданием с нуля и комплексным продвижением сайтов в Москве не первый год.
//-                 h2 Результатом продвижения станет следующее:

//-                 p Охват целевой аудитории в интернете. Цель поискового продвижения сайта — привлечь пользователей, заинтересованных предлагаемым продуктом и желающих купить его. Работа сотрудников «Паньшин Групп» обеспечит гарантированное увеличение прибыли. Каким бы ни был предлагаемый продукт, мы справимся с задачей, обеспечив высокий уровень конверсии.

//-                 p Доверие поисковых систем. При разработке и продвижении учитываются новые требования. Это увеличивает доверие поисковиков и гарантирует высокое место в выдаче. При этом такой подход защищает от попадания под фильтр, выход из-под которого занимает время.
//-                 p Лояльность посетителей. Приятный дизайн, удобное юзабилити и продуманный маркетинг понравятся пользователям, что гарантирует рост трафика. Сотрудники непрестанно анализируют результаты, чтобы своевременно вносить корректировки.
//-                 p Выгодная цена привлечения посетителей, ведь затраты на создание и продвижение окупаются в минимальные сроки. Вложения будут оправданы скорым достижением результата.
//-                 p Успешное продвижение в Яндексе и Гугле позволяет обойти конкурентов в бизнесе и добиться отличных результатов. Но недостаточно вывести ресурс компании в топ, ведь ему необходима постоянная поддержка, чтобы удерживать занятые позиции при неуменьшающемся уровне конкуренции. Наше агентство предлагает сотрудничество на выгодных условиях. Будьте уверены, недорогие услуги по созданию и продвижению превратят сайт в источник постоянной прибыли.

//-                 h2 Почему с нами выгодно работать?

//-                 p Цены на продвижение зависят от ряда факторов: тип сайта и его тематика, уровень конкуренции в Москве, сложность работы и сроки, отведенные на выполнение. В каждом случае стоимость услуг рассчитывается индивидуально с учетом пожеланий. Работы проводятся опытными сотрудниками, которые скоро справятся с поставленными задачами. Предлагаем ознакомиться с отзывами и оценить уровень профессионализма по проектам, размещенным в портфолио.
//-                 p Если хотите заказать недорогое продвижение сайтов, воспользуйтесь в Москве предложением «Паньшин Групп». Доверившись специалистам, получите результат с учетом персональных пожеланий в сжатые сроки. Выгоднее доверить комплекс работ профессионалам, чтобы ничего не пришлось исправлять. Оставьте заявку и обсудите детали с менеджером уже сегодня!

            
//-     section.section.section_deepblue.section_feedback.lazy(data-src="/assets/img/feedback.png")
//-         .section__inner.section__inner_feedback
//-             +feedback('feedback')