extends ../layout/main




block variables
    -var title = 'press'
    -var description = 'press'
    -var pageClass = ''

block content

    section.section
        +breadcrumbs('','Пресса о нас')
        .section__inner
            +title('Пресса о нас','','h1','')
            .section__box.section__box_news
                +news('news_press','/assets/img/news/press_1.jpg','Непростой вывод из-под «Баден-Бадена»','Мне наплевать на творческое видение клиента в отношении SEO вообще и на тексты в частности. Если слушать все «хотелки», то сами понимаете, дальше будет «бла-бла-бла» про результаты. И это правда. Смиритесь. ','','','VS.ru')
                +news('news_press','/assets/img/news/press_2.jpg','Монополизация поисковой выдачи','Продвижение основного сайта в поисковых системах будет недостаточным условием увеличения продаж, поэтому нам понадобятся дополнительные ресурсы, способные привлекать клиентов, о которых и пойдет речь.','','','www.searchengines.ru')
                +news('news_press','/assets/img/news/press_3.jpg','Все о полотенцах и посадочных страницах','Мой первый текст для лендинга был достаточно странным. Я был неоперенным птенцом копирайтинга, писал анкорные статейки для одной небезызвестной биржи ссылок, пытался заработать рейтинг и первый копирайтерский...','','','zhazhda.biz')
                +news('news_press','/assets/img/news/press_1.jpg','Непростой вывод из-под «Баден-Бадена»','Мне наплевать на творческое видение клиента в отношении SEO вообще и на тексты в частности. Если слушать все «хотелки», то сами понимаете, дальше будет «бла-бла-бла» про результаты. И это правда. Смиритесь. ','','','VS.ru')
                +news('news_press','/assets/img/news/press_2.jpg','Монополизация поисковой выдачи','Продвижение основного сайта в поисковых системах будет недостаточным условием увеличения продаж, поэтому нам понадобятся дополнительные ресурсы, способные привлекать клиентов, о которых и пойдет речь.','','','www.searchengines.ru')
                +news('news_press','/assets/img/news/press_3.jpg','Все о полотенцах и посадочных страницах','Мой первый текст для лендинга был достаточно странным. Я был неоперенным птенцом копирайтинга, писал анкорные статейки для одной небезызвестной биржи ссылок, пытался заработать рейтинг и первый копирайтерский...','','','zhazhda.biz')
                +news('news_press','/assets/img/news/press_1.jpg','Непростой вывод из-под «Баден-Бадена»','Мне наплевать на творческое видение клиента в отношении SEO вообще и на тексты в частности. Если слушать все «хотелки», то сами понимаете, дальше будет «бла-бла-бла» про результаты. И это правда. Смиритесь. ','','','VS.ru')
                +news('news_press','/assets/img/news/press_2.jpg','Монополизация поисковой выдачи','Продвижение основного сайта в поисковых системах будет недостаточным условием увеличения продаж, поэтому нам понадобятся дополнительные ресурсы, способные привлекать клиентов, о которых и пойдет речь.','','','www.searchengines.ru')
                +news('news_press','/assets/img/news/press_3.jpg','Все о полотенцах и посадочных страницах','Мой первый текст для лендинга был достаточно странным. Я был неоперенным птенцом копирайтинга, писал анкорные статейки для одной небезызвестной биржи ссылок, пытался заработать рейтинг и первый копирайтерский...','','','zhazhda.biz')
                +pagination()