extends ../layout/main




block variables
    -var title = 'seo'
    -var description = 'seo'
    -var pageClass = ''

block content



    +breadcrumbs()

    section.section
        .section__inner
            
            .section__box.section__box_sidebar
                .section__text
                    +title('Блог','','h1','')
                    p В блоге публикуются кейсы, успехи и достижения компании, а также актуальные материалы по поисковому маркетингу, SEO, SERM, SMM. Подписывайтесь на обновления, чтобы ничего не пропустить!
                    .section__box.section__box_blog
                       
                        +news('news_blog','/assets/img/blog/blog_1.jpg','Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки','Чат-бот — это инструмент, который имитирует диалог с пользователем. Бот может общаться как с помощью текстовых, так и с помощью голосовых сообщений на сайтах, в мессенджерах и мобильных приложениях.','22.01.2020','Нет комментариев')
                        +news('news_blog','/assets/img/blog/blog_2.jpg','Быстрее и эффективнее: Яндекс выпустил большое поисковое обновление «Вега»','«Вега» – обновление, благодаря которому поисковая система Яндекс выходит на новый уровень. Теперь пользователи смогут мгновенно получать экспертные ответы на свои запросы.','17.12.2020','2 комментария')
                        +news('news_blog','/assets/img/blog/blog_3.jpg','Компания «Паньшин Групп» вошла в ТОП самых известных SEO-компаний по версии SEONEWS','4 декабря авторитетное издание в сфере интернет-маркетинга SEONEWS.ru объявило итоги всероссийского рейтинга известности компаний, которые оказывают услуги поисковой оптимизации.','13.12.2020','22 комментария')
                        +news('news_blog','/assets/img/blog/blog_1.jpg','Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки','Чат-бот — это инструмент, который имитирует диалог с пользователем. Бот может общаться как с помощью текстовых, так и с помощью голосовых сообщений на сайтах, в мессенджерах и мобильных приложениях.','22.01.2020','Нет комментариев')
                        +news('news_blog','/assets/img/blog/blog_2.jpg','Быстрее и эффективнее: Яндекс выпустил большое поисковое обновление «Вега»','«Вега» – обновление, благодаря которому поисковая система Яндекс выходит на новый уровень. Теперь пользователи смогут мгновенно получать экспертные ответы на свои запросы.','17.12.2020','2 комментария')
                        +news('news_blog','/assets/img/blog/blog_3.jpg','Компания «Паньшин Групп» вошла в ТОП самых известных SEO-компаний по версии SEONEWS','4 декабря авторитетное издание в сфере интернет-маркетинга SEONEWS.ru объявило итоги всероссийского рейтинга известности компаний, которые оказывают услуги поисковой оптимизации.','13.12.2020','22 комментария')
                        +news('news_blog','/assets/img/blog/blog_1.jpg','Чат-боты для бизнеса. Принципы создания чат-ботов, примеры и сервисы для их разработки','Чат-бот — это инструмент, который имитирует диалог с пользователем. Бот может общаться как с помощью текстовых, так и с помощью голосовых сообщений на сайтах, в мессенджерах и мобильных приложениях.','22.01.2020','Нет комментариев')
                        +pagination()
                .section__sidebar.section__sidebar_blog
                    +subscribe()
                    +navside('','blog')
                    +banner()
                    
                    +order('form_sidebar','','','order_blue','','sidebar')
                    +social('sidebar')  