extends ../layout/main




block variables
    -var title = 'portfolio item'
    -var description = 'portfolio item'
    -var pageClass = ''

block content

    section.section
        +breadcrumbs('Портфолио','ООО “Компания Комси”')
        .section__inner
            
        
            +title('Разработка сайта для компании<br> ООО “Компания Комси”','','h1','')
            .section__box.section__box_portfolio
                img(data-src="/assets/img/portfolio/pf_1.jpg" alt="").lazy
            .section__box.section__box_portfolio
                +pf-list()

            +title('О проекте','title_border','','')
            .section__text
                p Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ. Удобный и эффективный механизм включает комплекс действенных приемов: от создания лендингов до запуска контекстной рекламы и SEO.
                p Мы осуществляем продажу лидов по тематике ремонт квартир стоимостью от 350 руб. за лид. Надежная технология отсеивания некачественных запросов гарантирует большое количество лидов. Воспользовавшись нашим предложением, вы получите постоянный поток целевых клиентов, которые выведут строительный бизнес на конкурентный уровень.
            .section__box.section__box_portfolio
                img(data-src="/assets/img/portfolio/pf_2.png" alt="").lazy

            +title('Цели и задачи','title_border','','')
            .section__text
                p Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ. Удобный и эффективный механизм включает комплекс действенных приемов: от создания лендингов до запуска контекстной рекламы и SEO.
                ol
                    li <strong>Проанализируйте целевую аудиторию.</strong> Выявите интересы и боли потенциальных покупателей, выделите часто задаваемые вопросы. Найдите те мессенджеры, которые будут релевантны вашей целевой аудитории.
                    li <strong>Установите цели и задачи бота.</strong> Подумайте, какие рутинные задачи службы поддержки вы могли бы делегировать чат-боту. На этом этапе тщательно проанализируйте список часто задаваемых вопросов.
                    li <strong>Напишите сценарий под каждую задачу.</strong> Создайте цепочку сообщений, которая пошагово проведет клиента из пункта А в пункт В. Чтобы не упустить важных деталей и ускорить процесс создания виртуального помощника, продумайте его структуру заранее. Для этого используйте программу вроде Xmind или простой лист А4.
            +title('Решение','title_border','','')
            .section__text
                p Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ. Удобный и эффективный механизм включает комплекс действенных приемов: от создания лендингов до запуска контекстной рекламы и SEO

            +title('Результаты и выводы','title_border','','')
            .section__text
                p Наша компания готова предоставить большой поток реальных сообщений, обращений и конкретных заявок к Вашей фирме. Для привлечения потенциальных клиентов мы осуществляем качественную лидогенерацию под ключ. Удобный и эффективный механизм включает комплекс действенных приемов: от создания лендингов до запуска контекстной рекламы и SEO

    section.section.section_blue_invert
        .section__inner
            +title('Команда, которая работала над проектом','','','h2')
            .section__box.section__box_services
                +service('show','member_1','service__icon_blue','solutions/member','member','Веб-разработчик','service_white service_member')
                +service('show','member_2','service__icon_blue','solutions/member','member','UX/UI дизайнер','service_white service_member')
                +service('show','member_3','service__icon_blue','solutions/member','member','Front-end разработчик','service_white service_member')
                +service('show','member_4','service__icon_blue','solutions/member','member','Менеджер проектов','service_white service_member')
                +service('show','member_5','service__icon_blue','solutions/member','member','Арт-директор','service_white service_member')
                +service('show','member_6','service__icon_blue','solutions/member','member','Копирайтер','service_white service_member')

    section.section
        .section__inner
            +title('Отзыв клиента','','','h2')
            +review('video','','review_video')