extends ../layout/main




block variables
    -var title = 'assets'
    -var description = 'assets'
    -var pageClass = ''

block content
    .section 
        .section__inner
            .section__box.section__box_assets

                //- +banner()

                //- +social('sidebar')
                //- +social()

                //- +tariff('','Базовый','<ul><li>Новые сайты</li><li>Региональные сайты</li><li>Персональные блоги</li></ul>','от <span>15 000</span> руб./мес.')
                //- +tariff('tariff_active','Оптимальный','<ul><li>Сайты по продаже услуг</li><li>Корпоративные сайты</li><li>Информационные сайты</li></ul>','от <span>25 000</span> руб./мес.')
                //- +tariff('','Комплексный','<ul><li>Интернет-магазины</li><li>Каталоги товаров</li><li>UGC-платформы</li></ul>','от <span>45 000</span> руб./мес.')
                //- +tariff('','Большие сайты','<ul><li>Мультиязычные сайты</li><li>Мультирегиональные сайты</li><li>Онлайн-сервисы</li></ul>','от <span>100 000</span> руб./мес.')

                //- +news('news_also','/assets/img/news/news_1.png','Заголовок публикации','','','')
                //- +news('news_also','/assets/img/news/news_1.png','Заголовок публикации','','','')
                //- +news('news_also','/assets/img/news/news_1.png','Заголовок публикации','','','')
                //- +news('','/assets/img/news/news_2.png','Заголовок публикации','И нет сомнений, что тщательные исследования конкурентов неоднозначны и будут объективно рассмотрены соответствующими инстанциями.','','')
                //- +news('news_blog','/assets/img/news/news_3.png','Быстрее и эффективнее: Яндекс выпустил большое поисковое обновление «Вега»','«Вега» – обновление, благодаря которому поисковая система Яндекс выходит на новый уровень. Теперь пользователи смогут мгновенно получать экспертные ответы на свои запросы. ','22.01.2020','2 комментария')
                //- +news('news_press','/assets/img/news/news_1.png','Непростой вывод из-под «Баден-Бадена»','Мне наплевать на творческое видение клиента в отношении SEO вообще и на тексты в частности. Если слушать все «хотелки», то сами понимаете, дальше будет «бла-бла-бла» про результаты. И это правда. Смиритесь. ','','','VS.ru')
                //- +news('news_press','/assets/img/news/news_1.png','Монополизация поисковой выдачи','Продвижение основного сайта в поисковых системах будет недостаточным условием увеличения продаж, поэтому нам понадобятся дополнительные ресурсы, способные привлекать клиентов, о которых и пойдет речь.','','','www.searchengines.ru')


                .section__assets
                    +button('Заказать звонок','button_blue')
                    +button('Выбрать тариф','button_red')
                    +button('Подробнее','button_trans')
                    +button('Выберите файл','button_smoke')
                .section__assets.section__assets_blue
                    +button('Заказать звонок','button_blue')
                    +button('Выбрать тариф','button_red')
                    +button('Подробнее','button_trans')
                    +button('Выберите файл','button_smoke')
                    +button('Белая кнопка','button_white')
                .section__assets.section__assets_blue
                    a(href="/").section__assets_link.section__assets_link_white Ссылка на темном фоне
                    a(href="/").section__assets_link.section__assets_link_black Темно-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_blue Синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_grey Светло-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_underline Ссылка с подчеркиванием
                    a(href="/").section__assets_link.section__assets_link_darkblue Темно-синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_red Оранжевая ссылка
                .section__assets.section__assets_links
                    a(href="/").section__assets_link.section__assets_link_black Темно-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_blue Синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_grey Светло-серая ссылка
                    a(href="/").section__assets_link.section__assets_link_underline Ссылка с подчеркиванием
                    a(href="/").section__assets_link.section__assets_link_darkblue Темно-синяя ссылка
                    a(href="/").section__assets_link.section__assets_link_red Оранжевая ссылка
                
                
                .section__text
                
                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                   
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed consectetur maxime vel adipisci ipsa. Odit qui esse tempora odio laboriosam beatae, cum aliquid assumenda molestias inventore totam quia dolorum impedit atque est minima? Officia nisi reiciendis quas nulla sint non est vero impedit architecto molestiae quibusdam, numquam perspiciatis dolores rem repellendus ullam quos laudantium aperiam, mollitia, saepe sunt tenetur provident doloribus. Rerum, architecto, odit perferendis corrupti velit accusamus sit maxime esse facere sint nemo aperiam neque iste maiores officiis odio voluptatem est laudantium doloremque porro libero, aliquam omnis molestias ipsa. Provident commodi porro hic saepe aliquam tempora aspernatur laudantium explicabo?
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum ipsam laboriosam suscipit beatae quidem, voluptatum culpa pariatur totam impedit sint eum, delectus officia voluptatibus voluptas recusandae qui expedita obcaecati nulla assumenda quia commodi non enim. Culpa quo labore voluptates inventore. Sequi aperiam reiciendis, dolorem reprehenderit doloremque itaque incidunt, quibusdam libero quas veniam iusto dolor ut? Iusto provident quam animi, ut deleniti quasi obcaecati nesciunt officiis sunt optio placeat libero fugit, consequuntur ipsam delectus. Tempora temporibus autem sequi? Explicabo, a!
                .section__assets
                    .section__text
                        p
                            strong Маркированный список
                        ul
                            li <strong>Пункт</strong> маркированного списка
                            li <b>Пункт</b> маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident itaque facere nemo enim. Possimus incidunt voluptate eum ducimus corporis voluptatum fugit, repellat numquam laborum nulla quo. Temporibus, non tenetur!
                            li Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa provident itaque facere nemo enim. Possimus incidunt voluptate eum ducimus corporis voluptatum fugit, repellat numquam laborum nulla quo. Temporibus, non tenetur!
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                            li Пункт маркированного списка
                .section__assets
                    .section__text
                        p
                            strong Нумерованный список
                        ol
                            li <strong>Lorem ipsum dolor sit</strong> amet consectetur adipisicing elit. Magni porro nihil veniam quibusdam explicabo! Iste, aliquid beatae porro consectetur fugiat amet ut aut adipisci, labore sapiente consequatur ab sint officiis.
                            li Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni porro nihil veniam quibusdam explicabo! Iste, aliquid beatae porro consectetur fugiat amet ut aut adipisci, labore sapiente consequatur ab sint officiis.
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                            li Пункт нумерованного списка
                
                .section__text
                    blockquote 
                        p Cледите за длиной текста в сообщениях и делайте паузы между ответами чат-бота, чтобы клиент успевал читать полученную информацию.
                    
                //- +service('s_1','service__icon_service','solutions/service')
                //- +service('s_2','service__icon_service','solutions/service')
                //- +service('s_3','service__icon_service','solutions/service')
                //- +service('s_4','service__icon_service','solutions/service')
                //- +service('s_5','service__icon_service','solutions/service')
                //- +service('law_1','service__icon_law','solutions/law')
                //- +service('law_2','service__icon_law','solutions/law')
                //- +service('service_1','service__icon_srv','services','Поисковое продвижение (SEO)')
                //- +service('service_2','service__icon_srv','services','Контекстная реклама')
                //- +service('service_3','service__icon_srv','services','Разработка сайтов')
                //- +service('service_4','service__icon_srv','services','Управление репутацией (SERM)')
                //- +service('service_5','service__icon_srv','services','Аудиты сайтов и РК')
                //- +service('service_6','service__icon_srv','services','Техническая поддержка')
                //- +service('service_7','service__icon_srv','services','Продвижение в социальных сетях (SMM)')
                //- +service('service_8','service__icon_srv','services','Обучение и консалтинг')
                //- +service('service_9','service__icon_srv','services','Автоматизация')
                //- +service('','','','','service_hidden')
                //- +service('','','','','service_hidden')

                //- .section__assets.section__assets_blue
                    //- +digit('10 лет опыта','Компания успешно работает для вас с 2010 года')
                    //- +digit('3 офиса','Москва, Краснодар, Харьков')
                    //- +digit('42 специалиста','В штате компании')
                    //- +digit('57','Проверенных стратегий продвижения')
                    //- +digit('Из 118','Ниш бизнеса наши клиенты')
                    //- +digit('86 отзывов','О нашей работе на сайте и в интернете')
                    //- +digit('42 дня','До ТОПа с момента старта работ. Наш рекорд по SEO')
                    //- +digit('32','Фильтров ПС снято. Гастролируем по Минусинскам и Баден-Баденам')
                    //- +digit('0','Фильтров получено от ПС. Мы работаем над этим :)')

                //- +client('/assets/img/clients/client_1.png','SEO-продвижение','Cemtec')
                //- +client('/assets/img/clients/client_2.png','Управление репутацией','Quaker')
                //- +client('/assets/img/clients/client_3.png','Продвижение в социальных сетях','TeleAdapt')
                //- +client('/assets/img/clients/client_4.png','SEO-продвижение','ASK')
                //- +client('/assets/img/clients/client_5.png','Разработка сайта','Zimmatic')
                //- +client('','','','client_hidden')
                //- +client('','','','client_hidden')
                //- +client('','','','client_hidden')
                //- +client('','','','client_hidden')

                //- +action('/assets/img/actions/action_1.jpg','Подарок всем клиентам по разработке сайта – <span>внутренняя оптимизация бесплатно!</span>')
                //- +action('/assets/img/actions/action_2.jpg','Бесплатный <span>аудит контекстной рекламы</span> – для клиентов из РФ.')
                //- +action('/assets/img/actions/action_3.jpg','При подписании договора на <span>поисковое продвижение</span> и одновременной оплате 3 месяцев 10% скидка')
                //- +action('/assets/img/actions/action_1.jpg','Подарок всем клиентам по разработке сайта – <span>внутренняя оптимизация бесплатно!</span>')
                //- +action('/assets/img/actions/action_2.jpg','Бесплатный <span>аудит контекстной рекламы</span> – для клиентов из РФ.')
                //- +action('/assets/img/actions/action_3.jpg','При подписании договора на <span>поисковое продвижение</span> и одновременной оплате 3 месяцев 10% скидка')

                //- +team('/assets/img/team/team_1.png','Алексей Паньшин',' Генеральный директор','Назвал компанию в честь самого себя, что свидетельствует о его невероятной скромности. Любит хороший кофе и вкусно покушать.')
                //- +team('/assets/img/team/team_2.png','Александр Князев','Технический директор','Не существует технической проблемы с сайтом, с которой Александр не справится. Руководитель проекта “SEO-CRM.ru”.')
                //- +team('/assets/img/team/team_3.png','Игорь Калугин','Контекстолог-любитель','Занимается продвижением клиентов в Я.Директ, Я.Маркет и Google Adwords. Любит сложные задачи и большие бюджеты.')
                //- +team('/assets/img/team/team_4.png','Ирина Брычева','SMM-специалист','Любит деньги больше, чем котиков, поэтому старается создать продающий контент для Вашего бизнеса. Созданные Ириной посты, которые привлекут к себе внимание.')
                //- +team('/assets/img/team/team_5.png','Наталья Кривницкая','Интернет-маркетолог','Пробег в сфере интернет рекламы почти 3 года. В прошлом – SEO специалист – продвижение клиентских сайтов в поиске.')
                //- +team('/assets/img/team/team_6.png','Станислав Колесов','Аккаунт-менеджер','Ведет наиболее сложных клиентов в агентстве. Любит твикс и колу в банке, боится голубей и розового цвета.')