mixin section_0()
    section.section.section_slider.lazy(data-src="/assets/img/banners/banner.png")
        .section__inner.section__inner_slider
            +slider_0()
            .section__form
            .section__arrows
            .section__dots