.section {
    width: 100%;

    &_blue {
        background-image: @section_blue;

        &_invert {
            background-image: @section_blue_invert;
        }
    }

    &_deepblue {
        background-color: @bl;
    }

    &_slider {
        height: 500px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @media @320 {
            height: unset;
        }
    }

    &_landing {
        height: 560px;
    }


    &_feedback {
        background-repeat: no-repeat;
        background-position: center 100%;
        background-size: contain;

        @media @320 {
            background-image: none !important;
        }
    }

    &_city {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }





    &__inner {
        max-width: 1160px;
        width: 100%;
        margin: 0 auto;
        padding: 100px 0;

        @media @1024 {
            padding: 80px 35px;
        }

        @media @768 {
            padding: 80px 35px;
        }

        @media @320 {
            padding: 60px 15px;
        }


        &_slider {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            @media @320 {
                flex-direction: column;
                height: unset;
                justify-content: flex-start;
                padding: 40px 15px;
            }
        }

        &_case {
            padding: 100px 0 0 0;

            @media @1024,
            @768 {
                padding: 80px 0 0 0;
            }

            @media @320 {
                padding: 60px 0 0 0;
            }
        }

        &_sertificate {
            max-width: 1230px;
        }

        &_feedback {
            @media @320 {
                display: flex;
                justify-content: center;
            }
        }

        &_text {
            padding: 100px 0 0 0;
        }


    }

    &__box {


        width: 100%;

        &_numbers {
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;

            @media @320 {
                padding: 0 0 40px 0;
            }
        }

        &_tariffs {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            padding: 50px 0 0 0;

            @media @320 {
                justify-content: center;
                // padding: 40px 0 0 0;
                padding: 0;
            }

            &_page {
                padding: 0;
            }
        }


        &_assets {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        }

        &_digit {
            display: flex;
            justify-content: space-around;
            flex-flow: wrap;
        }

        &_services {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            padding: 20px 0 0 0;

            @media @320 {
                justify-content: center;

            }
        }

        &_video {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            padding: 60px 0 80px 0;

            @media @320 {
                margin-bottom: 0 !important;
                padding: 40px 0 50px 0;
            }
        }

        &_client {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            padding: 0 0 70px 0;

            .client_landing {
                margin: 0 auto 30px;
            }
        }

        &_sertificate {
            padding: 100px 0 0 0;

            @media @320 {
                padding: 60px 0 0 0;
            }
        }

        &_news {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            @media @320 {
                justify-content: center;
            }

            .news {
                width: calc(33% - 20px);
                margin-bottom: 30px;

                @media @768 {
                    width: calc(50% - 20px);
                    margin-bottom: 15px;
                }

                @media @320 {
                    width: 100%;
                    max-width: 414px;
                    margin-bottom: 15px;
                }
            }
        }

        &_steps {
            position: relative;

            // .case__wrapper{

            // }
        }

        &_sidebar {
            display: flex;

            @media @320 {
                flex-flow: wrap;
            }
        }

        &_kpi {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            .kpi {
                width: calc(33% - 20px);

                @media @768,
                @320 {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }

        &_blog {

            .news {
                margin-bottom: 30px;
            }
        }

        &_feedback {
            padding: 60px 0 0 0;

            @media @320 {
                padding: 30px 0 0;

                .feedback {
                    margin: 0 auto;

                }
            }
        }

        &_city {
            padding: 10px 0 0 0;

            ul {
                column-count: 4;

                @media @320 {
                    column-count: 2;
                }
            }

            li {
                .rem(16);
                line-height: 200%;
                font-weight: 500;
                color: @wt;
                opacity: 0.7;

                @media @320 {
                    .rem(14);
                }
            }

            &_mo {
                display: none;

                @media @320 {
                    display: block;

                }

                li {
                    color: @bl_middle;
                }
            }
        }

        &_wiki {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;

            .wiki {
                width: calc(24% - 20px);

                @media @768 {
                    width: calc(33% - 20px);
                }

                @media @320 {
                    width: 100%;
                    max-width: 414px;
                }
            }
        }

        &_team {
            .team {
                margin-bottom: 10px;
            }
        }

        &_mo {

            @media @320 {
                display: none;
            }
        }

        &_awards {
            display: flex;
            justify-content: space-between;

            .award {
                width: calc(25% - 10px);
                display: block;
            }

            @media @768 {
                flex-flow: wrap;

                .award {
                    display: block;
                    width: calc(50% - 10px);
                    margin-bottom: 20px;
                }
            }

            @media @320 {
                flex-flow: wrap;

                .award {
                    display: block;
                    width: calc(50% - 10px);
                    margin-bottom: 20px;
                }
            }
        }

        &_sample {
            display: flex;
            justify-content: space-between;
            flex-flow: wrap;
            padding: 40px 0 0 0;
            @media @320{
                justify-content: center;
            }
            .sample {
                width: calc(33% - 15px);
                margin-bottom: 50px;

                @media @768 {
                    width: calc(50% - 15px);
                }
                @media @320{
                    width: 100%;
                    max-width: 414px;
                }
            }

        }
        &_reviews{
            padding: 40px 0  0;
            .review{
                margin-bottom: 30px;
                box-shadow: @box_reviews;
            }
            .pagination{
                margin-top: 60px;
            }
        }

    }


    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }


    &__sidebar {
        width: 300px;
        flex: 0 0 300px;
        margin-left: 40px;

        &_blog {
            width: 360px;
            flex: 0 0 360px;

            @media @768 {
                flex: 0 0 300px;
                width: 300px;
            }

            .subscribe {
                margin-bottom: 30px;
            }

            .banner {
                margin-bottom: 30px;
            }

            .order {
                margin-bottom: 30px;
            }
        }

        @media @320 {
            width: 100%;
            flex: unset;
            margin: 0;

            padding: 30px 0 0 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }



        .navside {
            margin-left: 22px;

            @media @320 {
                margin: 0;
            }
        }
    }

    &__text {
        h1 {
            font-style: normal;
            font-weight: normal;
            .rem(42);
            color: @bk;
            line-height: 130%;
            margin-bottom: 48px;

            @media @320 {
                .rem(26);
                margin-bottom: 30px;
            }
        }

        h2 {
            font-style: normal;
            font-weight: normal;
            .rem(32);
            color: @bk;
            line-height: 130%;
            margin-bottom: 40px;

            @media @320 {
                .rem(22);
                margin-bottom: 25px;
            }
        }

        h3 {
            font-style: normal;
            font-weight: 500;
            .rem(22);
            color: @bk;
            line-height: 130%;
            margin-bottom: 22px;
            padding: 20px 0 0 0;

            @media @320 {
                .rem(18);
                margin-bottom: 20px;
            }
        }



        span,
        p,
        blockquote,
        pre,
        cite,
        code,
        del,
        dfn,
        dl,
        dt,
        dd,
        li {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            margin-bottom: 30px;
            color: @bk_light;

            @media @320 {
                line-height: 160%;
                .rem(14);
                margin-bottom: 28px;
            }
        }

        strong,
        b {
            font-weight: bold;

        }

        li {
            margin-bottom: 20px;
            color: @bk;



        }

        ul {
            li {
                position: relative;
                padding-left: 25px;

                &:before {
                    position: absolute;
                    top: 3px;
                    left: 0;

                    content: '';
                    display: block;
                    height: 18px;
                    width: 18px;
                    background-image: url(/assets/img/marker_ul.svg);
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }

        ol {
            counter-reset: list;

            li {
                position: relative;
                padding: 10px 0 0 65px;
                margin: 0 0 30px 0;

                @media @320 {
                    padding: 0 0 0 55px;
                }

                &:before {
                    content: counter(list);
                    counter-increment: list;
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    width: 50px;
                    font-style: normal;
                    font-weight: 600;
                    .rem(18);
                    color: @wt;
                    border-radius: 50%;
                    background-color: @red;

                    @media @320 {
                        height: 40px;
                        width: 40px;
                        .rem(14);
                        top: -8px;
                    }
                }
            }
        }

        blockquote {
            position: relative;
            margin-bottom: 30px;
            padding: 30px 0;

            @media @320 {
                padding: 17px 0;
                margin-bottom: 28px;
            }

            &:after {
                content: '';
                position: absolute;
                display: block;
                height: 3px;
                width: 100px;
                bottom: 0;
                left: 0;
                background-color: @red;

                @media @320 {
                    height: 2px;
                    width: 70px;
                }
            }

            &:before {
                content: '';
                position: absolute;
                display: block;
                height: 3px;
                width: 100px;
                top: 0;
                left: 0;
                background-color: @red;

                @media @320 {
                    height: 2px;
                    width: 70px;
                }
            }

            p {
                margin: 0;
                .rem(28);
                color: @bk_light;
                opacity: 0.7;
                line-height: 150%;

                @media @320 {
                    .rem(20);
                }
            }
        }


        // img{
        //     margin-bottom: 30px;
        //     height: 100%;
        //     width: 100%;
        // }

    }


    &__arrows {
        position: absolute;
        left: 0;

        width: 100%;
        display: flex;
        justify-content: space-between;

        @media @320 {
            bottom: 0;
            z-index: 100;
            margin-bottom: 10px;
        }
    }


    &__dots {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 0 0 31px 0;

        @media @320 {
            padding: 0;
            margin-bottom: 10px;
        }

        .slick-dots {
            bottom: 0;
            position: unset;

            @media @320 {
                width: unset;
            }

            li {
                margin: 0 2px;
            }

            button {
                &:before {
                    .rem(10);
                    color: @wt;
                    opacity: 0.3;

                }

                &:hover {
                    &:before {
                        color: @bl_light;
                        opacity: 1;
                    }

                }
            }

            .slick-active {
                button {
                    &:before {
                        .rem(10);
                        color: @bl_light;
                        opacity: 1;

                    }

                    &:hover {
                        &:before {
                            color: @bl_light;
                            opacity: 1;
                        }

                    }
                }
            }
        }

    }



    &__social {
        position: fixed;
        top: calc(50% - 120px);
        left: 0;
        width: 60px;
        padding: 0 0 0 20px;

        @media @320 {
            display: none;
        }
    }



    &__wiki {
        padding: 0 0 30px 0;

        p {
            .rem(16);
            color: @bk_light;
            opacity: 0.7;
            line-height: 160%;
            margin-bottom: 30px;
            font-weight: normal;
        }
    }




    &__assets {
        width: calc(50% - 15px);
        margin-bottom: 30px;
        padding: 30px;
        border-radius: 5px;
        border: 2px solid @border;


        >.button {
            margin: 10px;
        }



        &_blue {
            background: @form_subscribe;
        }

        &_link {
            font-weight: 500;
            .rem(14);
            display: block;
            margin-bottom: 30px;

            &_white {
                color: @wt_07;

                &:hover,
                &:active,
                &:focus {
                    color: @wt;
                }
            }

            &_black {
                color: @bk;

                &:hover,
                &:active,
                &:focus {
                    color: @bk_light;
                }
            }

            &_blue {
                color: @bl_middle;

                &:hover,
                &:active,
                &:focus {
                    color: @red;
                }
            }

            &_red {
                color: @red;

                &:hover,
                &:active,
                &:focus {
                    color: @bl_middle;
                }
            }

            &_darkblue {
                color: @bl;

                &:hover,
                &:active,
                &:focus {
                    color: @red;
                }
            }

            &_grey {
                color: @grey_light;

                &:hover,
                &:active,
                &:focus {
                    color: @bk;
                }
            }

            &_underline {
                color: @bk;
                text-decoration: underline;

                &:hover,
                &:active,
                &:focus {
                    color: @red;
                    text-decoration: none;
                }
            }
        }
    }
}