mixin navside(menu,blog)
    if menu
        ul.navside
            li.navside__item
                a(href="/").navside__link Продвижение интернет-магазинов
            li.navside__item
                a(href="/").navside__link Продвижение корпоративных сайтов
            li.navside__item
                a(href="/").navside__link Продвижение корпоративных сайтов
            li.navside__item
                a(href="/").navside__link Продвижение новостных сайтов
            li.navside__item
                a(href="/").navside__link Продвижение форумов
            li.navside__item
                a(href="/").navside__link Продвижение блогов
            li.navside__item
                a(href="/").navside__link Решение по отраслям

            li.navside__item.navside__item_group            
                a(href="/").navside__link.navside__link_group.navside__link_active.navside__link_open Аудиты
                ul.navside__submenu.navside__submenu_open
                    li.navside__item 
                        a(href="/").navside__link Аудит коммерческих факторов
                    li.navside__item 
                        a(href="/").navside__link Аудит юзабилити сайта
                    li.navside__item 
                        a(href="/").navside__link Аудит коммерческих факторов
            

            li.navside__item
                a(href="/").navside__link Снятие фильтров

    if blog
        .navside__title Рубрики блога
        ul.navside.navside_blog
            li.navside__item
                a(href="/").navside__link PPC Кейсы
            li.navside__item
                a(href="/").navside__link SEO Кейсы
            li.navside__item
                a(href="/").navside__link SMM Кейсы
            li.navside__item
                a(href="/").navside__link Wiki
            li.navside__item
                a(href="/").navside__link.navside__link_active Видео
            li.navside__item
                a(href="/").navside__link Внутренняя оптимизация
            li.navside__item
                a(href="/").navside__link Конференции
            li.navside__item
                a(href="/").navside__link Новости
            li.navside__item
                a(href="/").navside__link Платный трафик
            li.navside__item
                a(href="/").navside__link Поисковое продвижение
            li.navside__item
                a(href="/").navside__link Поисковые системы
            li.navside__item
                a(href="/").navside__link Социальные сети
            li.navside__item
                a(href="/").navside__link Юзабилити