mixin banner()
    .banner
        .banner__cover.lazy(data-src='/assets/img/sidebar/banner_cover.png')
            .banner__title SEO-аудит вашего сайта
            .banner__button 
                .banner__text Бесплатно!
        .banner__image.lazy(data-src='/assets/img/sidebar/banner_image.png')