mixin map()
    .map-mo
        a.map-mo__link.map-mo__link_balas(href='https://apanshin.ru/seo/balashicha/') Балашиха
        a.map-mo__link.map-mo__link_voskr(href='https://apanshin.ru/seo/voskresensk/') Воскресенск
        a.map-mo__link.map-mo__link_vidno(href='https://apanshin.ru/seo/vidnoe/') Видное
        a.map-mo__link.map-mo__link_dzerz(href='https://apanshin.ru/seo/dzerzhinskij/') Дзержинский
        a.map-mo__link.map-mo__link_dmitr(href='https://apanshin.ru/seo/dmitrov/') Дмитров
        a.map-mo__link.map-mo__link_domod(href='https://apanshin.ru/seo/domodedovo/') Домодедово
        a.map-mo__link.map-mo__link_dolgo(href='https://apanshin.ru/seo/dolgoprudnyj/') Долгопрудный
        a.map-mo__link.map-mo__link_dubna(href='https://apanshin.ru/seo/dubna/') Дубна
        a.map-mo__link.map-mo__link_egore(href='https://apanshin.ru/seo/egoryevsk/') Егорьевск
        a.map-mo__link.map-mo__link_zhele(href='https://apanshin.ru/seo/zhelezndorozhniy/') Железнодорожный
        a.map-mo__link.map-mo__link_zhuko(href='https://apanshin.ru/seo/zhukovskij/') Жуковский
        a.map-mo__link.map-mo__link_ivant(href='https://apanshin.ru/seo/ivanteevka/') Ивантеевка
        a.map-mo__link.map-mo__link_istra(href='https://apanshin.ru/seo/istra/') Истра
        a.map-mo__link.map-mo__link_kashi(href='https://apanshin.ru/seo/kashira/') Кашира
        a.map-mo__link.map-mo__link_klimo(href='https://apanshin.ru/seo/klimovsk/') Климовск
        a.map-mo__link.map-mo__link_klinn(href='https://apanshin.ru/seo/klin/') Клин
        a.map-mo__link.map-mo__link_kolom(href='https://apanshin.ru/seo/kolomna/') Коломна
        a.map-mo__link.map-mo__link_korol(href='https://apanshin.ru/seo/korolyov/') Королёв
        a.map-mo__link.map-mo__link_kotel(href='https://apanshin.ru/seo/kotelniki/') Котельники
        a.map-mo__link.map-mo__link_krasz(href='https://apanshin.ru/seo/krasnoznamensk/') Краснознаменск
        a.map-mo__link.map-mo__link_krasg(href='https://apanshin.ru/seo/krasnogorsk/') Красногорск
        a.map-mo__link.map-mo__link_lobny(href='https://apanshin.ru/seo/lobnya/') Лобня
        a.map-mo__link.map-mo__link_lytka(href='https://apanshin.ru/seo/lytkarino/') Лыткарино
        a.map-mo__link.map-mo__link_lyubr(href='https://apanshin.ru/seo/lyubertsy/') Люберцы
        a.map-mo__link.map-mo__link_mojai(href='https://apanshin.ru/seo/mozhajsk/') Можайск
        a.map-mo__link.map-mo__link_mytis(href='https://apanshin.ru/seo/mytishi/') Мытищи
        a.map-mo__link.map-mo__link_nahab(href='https://apanshin.ru/seo/nahabino/') Нахабино
        a.map-mo__link.map-mo__link_nogin(href='https://apanshin.ru/seo/noginsk/') Ногинск
        a.map-mo__link.map-mo__link_odinc(href='https://apanshin.ru/seo/odintsovo/') Одинцово
        a.map-mo__link.map-mo__link_pavlo(href='https://apanshin.ru/seo/pavlovskiy-posad/') Павловский Посад
        a.map-mo__link.map-mo__link_podol(href='https://apanshin.ru/seo/podolsk/') Подольск
        a.map-mo__link.map-mo__link_protv(href='https://apanshin.ru/seo/protvino/') Протвино
        a.map-mo__link.map-mo__link_pushk(href='https://apanshin.ru/seo/pushkino/') Пушкино
        a.map-mo__link.map-mo__link_ramen(href='https://apanshin.ru/seo/ramenskoe/') Раменское
        a.map-mo__link.map-mo__link_reuto(href='https://apanshin.ru/seo/reutov/') Реутов
        a.map-mo__link.map-mo__link_sergi(href='https://apanshin.ru/seo/sergiev-posad/') Сергиев Посад
        a.map-mo__link.map-mo__link_serpu(href='https://apanshin.ru/seo/serpuhov/') Серпухов
        a.map-mo__link.map-mo__link_solng(href='https://apanshin.ru/seo/solnechnogorsk/') Солнечногорск
        a.map-mo__link.map-mo__link_stupi(href='https://apanshin.ru/seo/stupino/') Ступино
        a.map-mo__link.map-mo__link_tomil(href='https://apanshin.ru/seo/tomilino/') Томилино
        a.map-mo__link.map-mo__link_fryaz(href='https://apanshin.ru/seo/fryazino/') Фрязино 
        a.map-mo__link.map-mo__link_himki(href='https://apanshin.ru/seo/himki/') Химки
        a.map-mo__link.map-mo__link_cheho(href='https://apanshin.ru/seo/chehov/') Чехов
        a.map-mo__link.map-mo__link_shatr(href='https://apanshin.ru/seo/shatura/') Шатура
        a.map-mo__link.map-mo__link_shelk(href='https://apanshin.ru/seo/shhyolkovo/') Щёлково
        a.map-mo__link.map-mo__link_elect(href='https://apanshin.ru/seo/elektrostal/') Электросталь
        a.map-mo__link.map-mo__link_narof(href='https://apanshin.ru/seo/naro-fominsk/') Наро-Фоминск
        a.map-mo__link.map-mo__link_likin(href='https://apanshin.ru/seo/likino-dulyovo/') Ликино-Дулёво
        a.map-mo__link.map-mo__link_orehz(href='https://apanshin.ru/seo/orehovo-zuevo/') Орехово-Зуево
        a.map-mo__link.map-mo__link_aprel(href='https://apanshin.ru/seo/aprelevka/') Апрелевка
        a.map-mo__link.map-mo__link_golic(href='https://apanshin.ru/seo/golitsyno/') Голицыно
        a.map-mo__link.map-mo__link_ojere(href='https://apanshin.ru/seo/ozherelye/') Ожерелье
        a.map-mo__link.map-mo__link_peres(href='https://apanshin.ru/seo/peresvet/') Пересвет
        a.map-mo__link.map-mo__link_pushi(href='https://apanshin.ru/seo/pushhino/') Пущино
        a.map-mo__link.map-mo__link_ruzza(href='https://apanshin.ru/seo/ruza/') Руза
        a.map-mo__link.map-mo__link_elecg(href='https://apanshin.ru/seo/elektrogorsk/') Электрогорск
        a.map-mo__link.map-mo__link_volok(href='https://apanshin.ru/seo/volokolamsk/') Волоколамск
        a.map-mo__link.map-mo__link_dedov(href='https://apanshin.ru/seo/dedovsk/') Дедовск
        a.map-mo__link.map-mo__link_zelen(href='https://apanshin.ru/seo/zelenograd/') Зеленоград
        a.map-mo__link.map-mo__link_ozery(href='https://apanshin.ru/seo/ozyory/') Озеры
        a.map-mo__link.map-mo__link_bronn(href='https://apanshin.ru/seo/bronnitsy/') Бронницы
        a.map-mo__link.map-mo__link_drezn(href='https://apanshin.ru/seo/drezna/') Дрезна
        a.map-mo__link.map-mo__link_kubin(href='https://apanshin.ru/seo/drezna/') Кубинка
        a.map-mo__link.map-mo__link_taldo(href='https://apanshin.ru/seo/taldom/') Талдом
        a.map-mo__link.map-mo__link_rosha(href='https://apanshin.ru/seo/roshal/') Рошаль
        a.map-mo__link.map-mo__link_hotko(href='https://apanshin.ru/seo/hotkovo/') Хотьково
        a.map-mo__link.map-mo__link_sherb(href='https://apanshin.ru/seo/shherbinka/') Щербинка
        a.map-mo__link.map-mo__link_elugl(href='https://apanshin.ru/seo/elektrougli/') Электроугли
        a.map-mo__link.map-mo__link_yahro(href='https://apanshin.ru/seo/yahroma/') Яхрома
        a.map-mo__link.map-mo__link_verea(href='https://apanshin.ru/seo/vereya/') Верея
        a.map-mo__link.map-mo__link_vysok(href='https://apanshin.ru/seo/vysokovsk/') Высоковск
        a.map-mo__link.map-mo__link_zarai(href='https://apanshin.ru/seo/zarajsk/') Зарайск
        a.map-mo__link.map-mo__link_zveni(href='https://apanshin.ru/seo/zvenigorod/') Звенигород
        a.map-mo__link.map-mo__link_kurov(href='https://apanshin.ru/seo/kurovskoe/') Куровское
        a.map-mo__link.map-mo__link_luhov(href='https://apanshin.ru/seo/luhovitsy/') Луховицы
        a.map-mo__link.map-mo__link_mosko(href='https://apanshin.ru/seo/moskovskij/') Московский
        a.map-mo__link.map-mo__link_chern(href='https://apanshin.ru/seo/chernogolovka/') Черноголовка
        a.map-mo__link.map-mo__link_troic(href='https://apanshin.ru/seo/troitsk/') Троицк
        a.map-mo__link.map-mo__link_stark(href='https://apanshin.ru/seo/staraya-kupavna/') Старая Купавна
        a.map-mo__link.map-mo__link_losin(href='https://apanshin.ru/seo/kubinka/') Лосино-Петровский
        img(src='/assets/img/map_mo_2.png' alt='').map-mo__img