mixin subscribe(cl)
    .subscribe(class= cl)
        .subscribe__title Подписка на новости
        .subscribe__text Подпишитесь сейчас и получайте уникальную информацию и скидки, недоступные читателям блога!
        form(action="/").subscribe__form
            .subscribe__fieldset
                label.subscribe__label(for="inputEmailSubscribe") Ваш e-mail
                input#inputEmailSubscribe.subscribe__input.subscribe__input_phone(type="email" placeholder='email@gmail.com' required autocomplete="off")
            +button('Подписаться','button_red button_high','submit')