mixin service(name,cl,folder,text,cl1)
    .service(class= cl1)
        .service__image
            svg.service__icon(class= cl)
                use(xlink:href="/assets/img/" + folder + "/sprite.svg#" + name)
        .service__text= text