mixin wiki(en,ru)
    if en
    
        .wiki
                .wiki__letter a
                .wiki__list
                    a(href="/").wiki__value AdSense
                    a(href="/").wiki__value AdWords
                    a(href="/").wiki__value Analytics
                    a(href="/").wiki__value Alt
        .wiki
                .wiki__letter b
                .wiki__list
                    a(href="/").wiki__value Black List
        .wiki
                .wiki__letter c
                .wiki__list
                    a(href="/").wiki__value CMS
                    a(href="/").wiki__value CTR
                    a(href="/").wiki__value Cloaking
                    a(href="/").wiki__value Cookies
        .wiki
                .wiki__letter d
                .wiki__list
                    a(href="/").wiki__value Description
                    a(href="/").wiki__value DMOZ
        .wiki
                .wiki__letter f
                .wiki__list
                    a(href="/").wiki__value FTP
        .wiki
                .wiki__letter i
                .wiki__list
                    a(href="/").wiki__value IP-адрес
        .wiki
                .wiki__letter k
                .wiki__list
                    a(href="/").wiki__value Knowledge Based Trust
                    a(href="/").wiki__value Keywords
        .wiki
                .wiki__letter l
                .wiki__list
                    a(href="/").wiki__value LSI
        .wiki
                .wiki__letter n
                .wiki__list
                    a(href="/").wiki__value Nofollow
                    a(href="/").wiki__value Noindex
        .wiki
                .wiki__letter p
                .wiki__list
                    a(href="/").wiki__value Panda
                    a(href="/").wiki__value Penguin (Google Penguin)
                    a(href="/").wiki__value PPC
                    a(href="/").wiki__value Pr-cy.ru
                    a(href="/").wiki__value PageRank
                    a(href="/").wiki__value PopUnder
        .wiki
                .wiki__letter r
                .wiki__list
                    a(href="/").wiki__value Robots.txt
                    a(href="/").wiki__value RSS
        .wiki
                .wiki__letter s
                .wiki__list
                    a(href="/").wiki__value Sape
                    a(href="/").wiki__value SEO
                    a(href="/").wiki__value Sitemap.xml
                    a(href="/").wiki__value SMM
                    a(href="/").wiki__value SMO
                    a(href="/").wiki__value SEO-копирайтинг
        .wiki
                .wiki__letter t
                .wiki__list
                    a(href="/").wiki__value Title
        .wiki
                .wiki__letter u
                .wiki__list
                    a(href="/").wiki__value URL
        .wiki
                .wiki__letter y
                .wiki__list
                    a(href="/").wiki__value Yandex
        .wiki.wiki_hidden
        .wiki.wiki_hidden
        .wiki.wiki_hidden

    else if ru
        .wiki
                .wiki__letter а
                .wiki__list
                    a(href="/").wiki__value АГС
                    a(href="/").wiki__value Альт (тег)
                    a(href="/").wiki__value Анкор
                    a(href="/").wiki__value Апдейт
                    a(href="/").wiki__value Аффилиат
        .wiki
                .wiki__letter б
                .wiki__list
                    a(href="/").wiki__value Баден-Баден
                    a(href="/").wiki__value Бан
                    a(href="/").wiki__value Баннерная реклама
                    a(href="/").wiki__value Баннерообменная сеть
                    a(href="/").wiki__value Белые методы оптимизации
                    a(href="/").wiki__value Биржа ссылок
                    a(href="/").wiki__value Биржа статей
                    a(href="/").wiki__value Бэклинк
                    a(href="/").wiki__value Бюджет на продвижение сайта
                    a(href="/").wiki__value Браузер
        .wiki
                .wiki__letter в
                .wiki__list
                    a(href="/").wiki__value Вебвизор
                    a(href="/").wiki__value Вебмастер
                    a(href="/").wiki__value Вес ссылки
                    a(href="/").wiki__value Вечные ссылки
                    a(href="/").wiki__value Виральность
                    a(href="/").wiki__value Витальность
                    a(href="/").wiki__value Внутренняя оптимизация
                    a(href="/").wiki__value Возраст страницы
                    a(href="/").wiki__value ВЧ запросы (Высокочастотные)
        .wiki
                .wiki__letter г
                .wiki__list
                    a(href="/").wiki__value Геозависимость
                    a(href="/").wiki__value Глубина просмотра
                    a(href="/").wiki__value Гугл Аналитикс
                    a(href="/").wiki__value ГС
                    a(href="/").wiki__value Гиперссылка
        .wiki
                .wiki__letter д
                .wiki__list
                    a(href="/").wiki__value Домен
                    a(href="/").wiki__value Донор
                    a(href="/").wiki__value Дорвей
                    a(href="/").wiki__value Дублированный контент
        .wiki
                .wiki__letter з
                .wiki__list
                    a(href="/").wiki__value Заморозка ссылок
                    a(href="/").wiki__value Запрос
                    a(href="/").wiki__value Зеркало
        .wiki
                .wiki__letter и
                .wiki__list
                    a(href="/").wiki__value Идентификатор сессии
                    a(href="/").wiki__value Индекс
                    a(href="/").wiki__value Интернет-реклама
        .wiki
                .wiki__letter к
                .wiki__list
                    a(href="/").wiki__value Карта кликов
                    a(href="/").wiki__value Конверсия
                    a(href="/").wiki__value Крауд маркетинг
                    a(href="/").wiki__value Краулинговый бюджет
                    a(href="/").wiki__value Контент
                    a(href="/").wiki__value Кликджекинг
        .wiki
                .wiki__letter л
                .wiki__list
                    a(href="/").wiki__value Лендинг Пейдж
                    a(href="/").wiki__value Линкбилдинг
                    a(href="/").wiki__value Линкопомойка
        .wiki
                .wiki__letter м
                .wiki__list
                    a(href="/").wiki__value Микроразметка
                    a(href="/").wiki__value Минусинск
                    a(href="/").wiki__value Мета-теги
                    a(href="/").wiki__value Модерация
        .wiki
                .wiki__letter н
                .wiki__list
                    a(href="/").wiki__value Непот
                    a(href="/").wiki__value Навигация по сайту
        .wiki
                .wiki__letter о
                .wiki__list
                    a(href="/").wiki__value Оптимизатор
                    a(href="/").wiki__value Оптимизация сайта
                    a(href="/").wiki__value Оптимизация текста
                    a(href="/").wiki__value Оригинальные тексты
        .wiki
                .wiki__letter п
                .wiki__list
                    a(href="/").wiki__value Перелинковка
                    a(href="/").wiki__value Песочница
                    a(href="/").wiki__value Пессимизация
                    a(href="/").wiki__value Платон
                    a(href="/").wiki__value Поведенческие факторы
                    a(href="/").wiki__value Поисковая выдача
                    a(href="/").wiki__value Поддомен
                    a(href="/").wiki__value Поисковая система
                    a(href="/").wiki__value Поисковое продвижение
                    a(href="/").wiki__value Поисковые алгоритмы
                    a(href="/").wiki__value Поисковый робот
                    a(href="/").wiki__value Покупка ссылок
                    a(href="/").wiki__value Пользовательские факторы
                    a(href="/").wiki__value Портянка
                    a(href="/").wiki__value Посещаемость сайта
                    a(href="/").wiki__value Партнёрская программа
                    a(href="/").wiki__value Продающий текст
                    a(href="/").wiki__value Позиции сайта
                    a(href="/").wiki__value Парсинг и парсер
                    a(href="/").wiki__value Пассаж в SEO
        .wiki
                .wiki__letter р
                .wiki__list
                    a(href="/").wiki__value Ранжирование
                    a(href="/").wiki__value Релевантность
                    a(href="/").wiki__value Региональность
                    a(href="/").wiki__value Регистратор
                    a(href="/").wiki__value Редирект
                    a(href="/").wiki__value Рерайт
                    a(href="/").wiki__value Реферал
                    a(href="/").wiki__value Реферальная ссылка
        .wiki
                .wiki__letter с
                .wiki__list
                    a(href="/").wiki__value Сателлит
                    a(href="/").wiki__value Семантическое ядро
                    a(href="/").wiki__value Серые методы поисковой оптимизации
                    a(href="/").wiki__value Сниппет
                    a(href="/").wiki__value Социальные медиа
                    a(href="/").wiki__value Спам (почтовый)
                    a(href="/").wiki__value Ссылочная масса
                    a(href="/").wiki__value Ссылочный взрыв
                    a(href="/").wiki__value Ссылочный спам
                    a(href="/").wiki__value Стоп-слова
                    a(href="/").wiki__value СЧ
                    a(href="/").wiki__value Счетчик
                    a(href="/").wiki__value Сервер
        .wiki
                .wiki__letter т
                .wiki__list
                    a(href="/").wiki__value Таргетинг
                    a(href="/").wiki__value Тегирование
                    a(href="/").wiki__value Тематика
                    a(href="/").wiki__value Тизерная реклама
                    a(href="/").wiki__value тИЦ
                    a(href="/").wiki__value Тошнотность (тошнота)
                    a(href="/").wiki__value ТОП
                    a(href="/").wiki__value Траст
                    a(href="/").wiki__value Трафик
                    a(href="/").wiki__value Транзакционные запросы
        .wiki
                .wiki__letter у
                .wiki__list
                    a(href="/").wiki__value Уникальность
                    a(href="/").wiki__value Уникальный посетитель
                    a(href="/").wiki__value Уровень вложенности
        .wiki
                .wiki__letter ф
                .wiki__list
                    a(href="/").wiki__value Фильтр
        .wiki
                .wiki__letter х
                .wiki__list
                    a(href="/").wiki__value Хостинг
                    a(href="/").wiki__value Хлебные крошки
        .wiki
                .wiki__letter ц
                .wiki__list
                    a(href="/").wiki__value Целевая аудитория
                    a(href="/").wiki__value Целевая страница
        .wiki
                .wiki__letter ч
                .wiki__list
                    a(href="/").wiki__value Чёрные методы оптимизации
                    a(href="/").wiki__value ЧПУ
        .wiki
                .wiki__letter ю
                .wiki__list
                    a(href="/").wiki__value Юзабилити
        .wiki
                .wiki__letter я
                .wiki__list
                    a(href="/").wiki__value Яндекс
                    a(href="/").wiki__value Яндекс.Метрика
                    a(href="/").wiki__value Яндекс.Справочник
                    a(href="/").wiki__value Яндекс.Каталог
                    a(href="/").wiki__value Яндекс.Директ
                    a(href="/").wiki__value Яндекс.Деньги
                    a(href="/").wiki__value Яндекс.Вордстат
                    a(href="/").wiki__value Яндекс.Вебмастер
        .wiki.wiki_hidden
        .wiki.wiki_hidden
        .wiki.wiki_hidden