
include ../blocks/action/action
include ../blocks/banner/banner
include ../blocks/burger/burger
include ../blocks/button/button
include ../blocks/case/case
include ../blocks/client/client
include ../blocks/digit/digit
include ../blocks/footer/footer
include ../blocks/header/header

include ../blocks/landing_banner/landing_banner
include ../blocks/landing_form/landing_form

include ../blocks/nav/nav
include ../blocks/navfooter/navfooter
include ../blocks/news/news
include ../blocks/number/number

include ../blocks/order/order
include ../blocks/popup/popup


//- include ../blocks/section/section_0


include ../blocks/sertificate/sertificate
include ../blocks/service/service


include ../blocks/service/service
include ../blocks/slide/slide

include ../blocks/slider/slider_0
include ../blocks/slider/slider_sert
include ../blocks/slider/slider_result
include ../blocks/slider/slider_case


include ../blocks/social/social
include ../blocks/tariff/tariff
include ../blocks/team/team 
include ../blocks/title/title 
include ../blocks/video/video 



block variables
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        meta(name="description", content=description)

        include ../includes/styles


    body(class=pageClass)
        +header()
        +nav()
        block content
        
        +footer()
        +popup()

        include ../includes/scripts